# Fichiers d'environnement contenant des informations sensibles
.env

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# Logs
*.log
logs/

# Fichiers de sauvegarde éditeur
*~
.#*
*.bak
*.swp

# Fichiers système
.vscode/
.idea/

# Autres fichiers à ignorer
.Dockerfile
.dockerignore
